

.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  /* padding: 1rem; */
  margin: 1rem;
  min-height: 100vh;

}

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
} */

.anchor{
  padding: 30px;
  margin: 400px;
}
