
.main {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  align-items: center;
  /* padding: 1rem; */
  margin: 1rem;
  min-height: 100vh;

  text-decoration: none;

}
 .main a{
  text-decoration: none;
  margin-top: 10px;
  
 }
 /* a{
  text-decoration: none;

} */

/* .description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  width: 100%;
  z-index: 2;
} */

.anchor{
  padding: 30px;
  margin: 400px;
}
